$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);
$grey500: hsl(215, 17%, 45%);
$grey300: hsl(215, 43%, 77%);
$blue900: hsl(215, 31%, 21%);
$blue500: hsl(227, 92%, 58%);
$blue300: hsl(209, 69%, 82%);
$blue100: hsl(228, 94%, 94%);
